<!DOCTYPE html>
<html>
<head>
  <title><%= productName %></title>

  <meta charset="utf-8">
  <meta name="description" content="<%= productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Lustria&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,400&display=swap"
    rel="stylesheet">

  <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
  <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
  <link rel="icon" type="image/ico" href="favicon.ico">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1VJBZYVTK6"></script>
  <script>
    window.dataLayer = window.dataLayer || []

    function gtag () {
      dataLayer.push(arguments)
    }

    gtag('js', new Date())

    gtag('config', 'G-1VJBZYVTK6')
  </script>

  <!-- Load reCAPTCHA -->
  <% if (ctx.dev) { %>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LeweAghAAAAAAdJdSUx102nAfP8-YYriBV0Nnjp"></script>
  <% } else { %>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LeSMgohAAAAAAx1shMr147QuE3F49oI4XEBRqRl"></script>
  <% } %>

  <!-- Load Google API for OAuth -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>
  <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({ client_id: '550309429268-h5hlu95faefr5kagortjv1sha6d5tb09.apps.googleusercontent.com' });
      });
    }
  </script>
</head>
<body>
<!-- quasar:entry-point -->
</body>
</html>
