asgiref==3.5.2
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
defusedxml==0.7.1
Django==4.0.5
django-extensions==3.1.5
protobuf==3.19.4
sqlparse==0.4.2
Werkzeug==2.1.2
