
.q-carousel {
  &.q-carousel--no-stretch {
    .q-carousel__slide {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.q-page-sticky {
  z-index: 1000; // Make sure the floating content appears above all other content
}

.inherit-text-color {
  .q-item .q-item__section--side {
    color: inherit  // Used to make sure q-expansion-item icons get the same color as the rest of the text
  }
}

a.q-btn.a-style {
  color: -webkit-link;
  text-decoration: underline;
  padding: 0;
}
