
.q-carousel {
  &.q-carousel--no-stretch {
    .q-carousel__slide {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.q-page-sticky {
  z-index: 1000; // Make sure the floating content appears above all other content
}
