
.circle {
  border-radius: 100px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 3px;
  font-family: 'Lustria', 'serif';
}

.wavey {
  clip-path: polygon(0% 2%, 20% 0%, 40% 2%, 60% 0%, 80% 2%, 100% 0%, 100% 98%, 80% 100%, 60% 98%, 40% 100%, 20% 98%, 0% 100%);

  &-top {
    clip-path: polygon(0% 2%, 20% 0%, 40% 2%, 60% 0%, 80% 2%, 100% 0%, 100% 100%, 0% 100%);
  }

  &-bottom {
    clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 80% 100%, 60% 98%, 40% 100%, 20% 98%, 0% 100%);
  }
}

