

table, table.q-table {
	border-collapse: collapse;
	border-spacing: 0;

  thead {
    th {
      font-weight: bold;
    }
  }

  td.table-wrap, th.table-wrap {
    /* don't shorten cell contents */
    white-space: normal !important;
  }
}
