@use '../quasar.variables' as *;

@each $name, $color in $gray-color-map {
  .bg-#{$name} {
    background-color: $color;
  }
}

$sizes-map: (
  '25': 25%,
  '50': 50%,
  '75': 75%,
  '100': 100%
);

@each $name, $size in $sizes-map {
  .w-#{$name} {
    width: $size
  }

  .h-#{$name} {
    height: $size;
  }
}
