// app global css in SCSS form
@use 'modules/borders';
@use 'modules/buttons';
@use 'modules/cards';
@use 'modules/charts';
@use 'modules/quasar_override';
@use 'modules/shapes';
@use 'modules/states';
@use 'modules/tables';
@use 'modules/text';
@use 'modules/utilities';

/* Scrollbar */
body {
  scrollbar-width: 10px; /*thin;*/
  scrollbar-color: $primary $white;
  scrollbar-gutter: stable;
  //-webkit-user-select: none;
}

.grecaptcha-badge { visibility: hidden; } /* hide the recaptcha badge */

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $white; /* color of the tracking area */
  border-left: 1px solid $gray-300;
  //border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
}

.scrollbar-narrow, .q-table__container {
  scrollbar-height: 6px;
  scrollbar-width: 6px;

  & * {
    scrollbar-height: 6px;
    scrollbar-width: 6px;
  }
}

.scrollbar-narrow::-webkit-scrollbar,
.scrollbar-narrow ::-webkit-scrollbar,
.q-table__container ::-webkit-scrollbar,
.q-panel.scroll::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

/*
End scrollbar
 */

* {
  font-family: 'Open Sans', 'sans-serif';
}

body {
  color: $gray-900;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lustria', 'serif';
  margin: 0.5rem 0 0.5rem 0;
}

p {
  margin: 1rem 0 1rem 0;
}

ul:not(.nav), ol {
  padding-inline-start: 1.5em;
  li {
    margin-bottom: 0.5rem;
  }
}

ul, ol {
  li {
    margin-left: 0.5em;
  }

  p {
    display: inline; // Make sure bullets display on same line as text
  }
}

video {
  max-width: 100%;
  object-fit: contain;
}
