{% extends 'emails/application_submission_base_email.html' %}

{% block topMessage %}
    <p>
        Congratulations on taking the first step and submitting an application to {{ employer.employer_name }}. The
        details of your application are included below. If you have a JobVyne account, you can track all of your job
        applications on your
        <a href="{{ base_url }}/candidate/job-applications/" target="_blank">JobVyne dashboard</a>.
    </p>
    <p>
        Didn't create an account yet? You can still
        <a href="{{ base_url }}/login/?isNew=1" target="_blank">sign up</a>
        and get access to your applications.
    </p>
{% endblock topMessage %}
{% block bottomMessage %}
    <p style="padding-top:16px; font-weight:bold;">
        NOTE: {{ employer.employer_name }} is responsible for reviewing your application. They may or may not
        follow up with you based on their own policies on how to communicate with job applicants.
    </p>
    {% include 'snippets/support_signoff.html' %}
{% endblock bottomMessage %}