{% extends 'emails/base_general_email.html' %}

{% block body %}
    <p style="text-align:left">Hi {{ user.first_name }},</p>
{% block entryParagraph %}{% endblock entryParagraph %}
<table width="100%">
    <tbody>
        <tr>
            <td style="border:20px transparent solid">
                <div style="padding:10px 0;text-align:center;background-color:#034C3C;border-radius:32px">
                    <a href="{{ protocol }}://{{ domain }}/password-reset/{{ uid }}/{{ token }}"
                       style="text-decoration:none;color:#fff;display:block;width:100%" target="_blank">
                        Reset Password
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<p style="text-align:left">This link can only be used once and will expire in 8 hours. If you need to reset your password again, please visit
<a href="{{ protocol }}://{{ domain }}/login">jobvyne.com/login</a> and request a password reset.
</p>
{% endblock body %}