{% extends 'emails/base_email.html' %}

{% block body %}
    <p>Hi {{ user_full_name }},</p>
    <p>
        One or more of your social credentials is expiring soon. Once the credential expires, automated posts will no
        longer work. To renew your social credentials, go to your
        <a href="{{ base_url }}/account/settings?tab=connection">Social Accounts Page</a>
        and click the "Refresh" button. The following credentials are expiring:
    </p>
    <ul>
    {% for cred in credentials %}
        <li>
            {{ cred.platform_name }}
            {% if cred.expiration_days < 0 %}
                expired on {{ cred.expiration_date }}
            {%  else %}
                expires in {{ cred.expiration_days }} days
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock body %}