{% extends 'emails/base_general_email.html' %}

{% block body %}
    <p style="text-align:left">Hi {{ user.first_name }},</p>
    <p style="text-align:left">
        Welcome to JobVyne!
        {% if admin_user %}
            {{ admin_user.full_name }} has created an account for you.
        {% endif %}
    </p>
    <p style="text-align:left">
        <span style="font-weight: bold">First of all, what the heck is JobVyne?!</span> JobVyne integrates with existing social sites like LinkedIn and Slack
        to assist professional communities in helping their members find jobs, network with one another, discover events, and grow in their own careers.
    </p>
    <p style="text-align:left">
        We want to thank you for becoming a part of the JobVyne community. Connecting professionals together is our passion and we want to
        make sure community leaders and members all have a great experience. If you have any questions, issues, or product feedback, you
        can email me, the founder of JobVyne, at any time at todd@jobvyne.com
    </p>
    {% if is_employer_owner %}
        <p style="text-align:left">
            You have been granted administrative privileges, allowing you to make updates to settings, integrations, and job boards.
        </p>
        <p style="text-align:left">
            There are a few quick items you can do to get started:
            <ul>
                <li>
                    {% include 'snippets/reset_password_instructions.html' %}
                </li>
                <li>
                    <a href="{{ base_url }}/employer/employer-settings?tab=integration" target="_blank"> Connect your professional community's slack account</a>
                </li>
                <li>
                    Review your <a href="{{ job_board_url }}">group's job board</a> to make sure the jobs are appropriate. If you want to
                    update the jobs that are shown, you can <a href="{{ base_url }}/employer/employer-job-boards">update your job subscriptions</a>.
                </li>
            </ul>
        </p>
    {% else %}
        <p style="text-align:left">
            To get started, {% include 'snippets/reset_password_instructions.html' %}
        </p>
    {% endif %}
{% endblock body %}
{% block final_message %}
    If you have any questions or issues, please contact us at {{ support_email }}.
{% endblock final_message %}